body {

}

.nav__link {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    text-decoration: underline;
    color: #fff;
}